    button {
        color: darkslategray;
        background-color: rgba(228, 188, 157, 0.589);
        border-radius: 15%;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 0.15em groove Peru;
    }
    
    button:hover {
        font-weight: 800;
        background-color: lightpink;
        cursor: pointer;
        border: 0.2em groove saddlebrown;
    }
    
    button:active {
        background-color: indianred;
    }

    button:disabled {      
        opacity: 0.6;
        cursor: not-allowed;
    }
    
    .gameButton {
        border-radius: 30%;
        font-size: calc(1.1 * min(1.75vw, 2vh));
        width: 100%;
        height: 8vmin;
        margin-top: 18%;
        margin-bottom: 18%;
    }
    
    .mainButton {
        font-size: calc(2.2 * min(1vw, 1.25vh));
        font-weight: 100;
        border: 0.15em groove rgba(202, 138, 73, 0.726);
        background-color: rgba(241, 221, 193, 0.527);
        width: 33%;
        height: calc(6 * min(1vw, 1.25vh));
        margin-top: calc(3 * min(1vw, 1.25vh));
        margin-right: auto;
        margin-bottom: calc(3 * min(1vw, 1.25vh));
        margin-left: auto;
        color: Sienna;
    }
    
    .smallMargin {
        margin-top: calc(1.5 * min(1vw, 1.25vh));
        margin-right: auto;
        margin-bottom: calc(1.5 * min(1vw, 1.25vh));
        margin-left: auto;
    }
    
    #logOut {
        position: absolute;
        background-color: rgba(207, 207, 207, 0.534);
        border: 0.1em solid rgba(88, 88, 88, 0.774);
        font-size: calc(2.2 * min(1vw, 1.25vh));
        width: 14%;
        height: calc(4 * min(1vw, 1.25vh));
        right: 10%;
        bottom: 15%;
    }
    
    .smallButton {
        font-size: calc(1.7 * min(1vw, 1.25vh));
        margin-left: 3%;
        margin-top: calc(1.7 * min(1vw, 1.25vh));
        display: inline;
        height: calc(3 * min(1vw, 1.25vh));
        width: 16%;
        border-width: 0.2%;
    }
    
    .bigMargin {
        margin-top: 9%;
    }
    
    .developer {
        font-size: calc(2 * (1vw - 0.7vh));
        position: absolute;
        background-color: black;
        color: greenyellow;
        height: 20%;
        width: calc(30 * (1vw - 0.7vh));
        top: 2vmax;
        right: 2vmax;
    }
    
    .developer:hover {
        background-color: rgb(61, 61, 61);
    }
    /*   
     #send {
        font-size: 2.8%
        margin-left: auto
        margin-right: auto
        margin-top: 0.5%
        margin-bottom: 2%
        height: 6%
        width: 20%
        border-width: 0.3%
    }