button {
    color: darkslategray;
    background-color: rgba(228, 188, 157, 0.459);
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 0.5vmin groove Peru;
}

button:hover {
    font-weight: 900;
    background-color: lightpink;
    cursor: pointer;
    border: 0.5vmin groove saddlebrown;
}

button:active {
    background-color: indianred;
}

.gameButton {
    border-radius: 30%;
    font-size: 2.4vmin;
    width: 19vmin;
    height: 9vmin;
    margin-top: 18%;
    margin-bottom: 18%;
}

.mainButton {
    font-size: 2.5vmin;
    font-weight: 100;
    border: 0.3vmin groove rgba(202, 138, 73, 0.726);
    background-color: rgba(241, 221, 193, 0.527);
    width: 40%;
    height: 7vmin;
    margin-top: 5%;
    margin: 2% auto 2% auto;
    color: Sienna;
}

#logOut {
    position: absolute;
    background-color: rgba(207, 207, 207, 0.534);
    border: 0.2vmin solid rgba(88, 88, 88, 0.774);
    font-size: 2.5vmin;
    width: 12%;
    height: 7vmin;
    right: 10%;
    bottom: 15%;
}

#clickHere {
    font-size: 2.5vmin;
    margin-left: 3%;
    margin-top: 2%;
    display: inline;
    font-size: 2vmin;
    height: 5vmin;
    width: 15%;
    border-width: 0.2vmin;
}

#send {
    font-size: 2.8vmin;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5%;
    margin-bottom: 2%;
    height: 6vmin;
    width: 20%;
    border-width: 0.3vmin;
}

.bigMargin {
    margin-top: 50%;
}