        body {
            font-family: "Roboto", helvetica, arial, sans-serif;
            font-weight: 400;
            text-rendering: optimizeLegibility;
        }
        
        table {
            margin: 0% auto calc(2 * min(1vw, 1.25vh)) auto;
            text-align: center;
        }
        
        th {
            color: rgb(255, 255, 255);
            background: #3014207a;
            border-bottom: 4px solid #9ea7af;
            border-right: 1px solid #343a45;
            font-size: calc(2.3 * min(1vw, 1.25vh));
            font-weight: 100;
            width: calc(22 * min(1vw, 1.25vh));
            height: calc(4 * min(1vw, 1.25vh));
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
            vertical-align: middle;
        }
        
        th:first-child {
            border-top-left-radius: 5px;
            width: calc(6 * min(1vw, 1.25vh));
        }
        
        th:last-child {
            border-top-right-radius: 5px;
            border-right: none;
            width: calc(14 * min(1vw, 1.25vh));
        }
        
        tr {
            border-top: 1px solid #C1C3D1;
            border-bottom: 1px solid #C1C3D1;
            color: #666B85;
            font-size: calc(2 * min(1vw, 1.25vh));
            font-weight: normal;
            text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
        }
        
        tr:hover td {
            background: rgb(126, 130, 167);
            color: #FFFFFF;
            border-top: 1px solid #2e2224;
        }
        
        tr:first-child {
            border-top: none;
        }
        
        tr:last-child {
            border-bottom: none;
        }
        
        tr:nth-child(odd) td {
            background: rgba(212, 212, 212, 0.589);
        }
        
        tr:nth-child(odd):hover td {
            background: rgb(99, 103, 129);
        }
        
        tr:last-child td:first-child {
            border-bottom-left-radius: 5px;
        }
        
        tr:last-child td:last-child {
            border-bottom-right-radius: 5px;
        }
        
        td {
            background: rgba(255, 255, 255, 0.596);
            /*padding: 2%*/
            vertical-align: middle;
            height: calc(3.6 * min(1vw, 1.25vh));
            font-weight: 300;
            /*font-size: 2.5vw*/
            text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
            border-right: 1px solid #C1C3D1;
        }